
*.iml
.gradle
.idea
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
#*yarn.lock

/.idea
/local.properties
/build
/captures
*.focus
/secret
*.gpg
/.kotlin
/.claude